#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.App{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.box{
  width: 500px;
  padding: 20px;
  background-color: #888;
  border-radius: 10px;
  box-shadow: 0.1px 0.1px 10px #4e4e4e;
}

.quoteBox{
  min-height: fit-content;
  position: relative; 
}

.quoteBox > div {
display: flex;
}

.quoteBox > div > i {
  position: relative;
  top: -40px;
  left: -15px;
  /* background: white; */
  font-size: 130px;
  text-shadow: 0.1px 0.1px 10px #696969;
}

.quote{
  /* background-color: coral; */
  min-height: 90px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -20px;
  font-weight: 700;
  text-shadow: 0.1px 0.1px 10px #343434;
  font-size: 20px;
  
}

.author{
  /* background-color: blueviolet; */
  width: 386px;
  text-align: right;
  font-size: 22px;
  text-shadow: 0.1px 0.1px 10px #696969;
  font-weight: bold;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -114px;
}

.nextContainer{
  /* background: red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

.next{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0.1px 0.1px 10px #696969;
  text-shadow: 0.5px 0.5px 1px #696969;

}

.next:hover{
  cursor: pointer;
}

@media(max-width: 620px){
  .box{
    width: 70%;
  }
  .quoteBox > div {
    flex-direction: column;
  }

  .quoteBox > div > i {
    position: relative;
    top: -20px;
    left: 0px;
    font-size: 110px;
    text-shadow: 0.1px 0.1px 1px #888;
  }

  .quote{
    width: 100%;
    position: relative;
    top: -40px;
  
  }

  .author{
    width: 100%;
    font-size: 18px;
    margin-top: -30px;
    text-align: center;
    right: 0px;
  }
}

